body {
	background: black;
}
.red {
	background: red;
	height: 125px;
	width: 100%;
	margin: auto;
}
.blue {
	background: blue;
	height: 700px;
	width: 33.33%;
	float: left;
}
.purple {
	background: purple;
	height: 700px;
	width: 33.33%;
	float: left;
}
.yellow {
	background: yellow;
	height: 700px;
	width: 33.33%;
	float: left;
}
.green {
	background: green;
	clear: both;
	height: 125px;
	width: 100%;
}