body {
	background: yellow;
	margin: auto;
}
.red {
	background: red;
	height: 100px;
	width: 100%;
	margin: auto;
}
.blue {
	background: blue;
	height: 700px;
	width: 80%;
	margin: auto;
}
.green {
	background: green;
	height: 100px;
	width: 80%;
	margin: auto;
}

