body {
	background: white;
}
.top {
	background: purple;
	height: 125px;
	width: 100%;
	margin: auto;
}
.red {
	background: red;
	height: 350px;
	width: 750px;
	margin: auto;
	padding: 40px;
}

.blue {
	background: blue;
	height: 300px;
	width: 500px;
	margin: auto;
	padding: 40px 40px 40px 40px;
}
.yellow {
	margin-right: 30px;
	background: yellow;
	height: 150px;
	width: 150px;
	float: left;
}
.green {
	display: inline-block;
	background: green;
	height: 225px;
	width: 300px;
	float: left;
}