<head>
	<link rel="stylesheet" type="text/css" href="/static/styles/styles4.css">
</head>
<h1 class='header'>My Movies</h1>

<form action='/movie' method='POST'>
	<h3>Enter in a movie title and brief description:</h3></br>
	Movie Title:</br>
	<input type="TEXT" name="name"></br></br>
	Movie Description:</br>
	<textarea name = "description" ></textarea><br>
	<input type="submit" value="Submit">
</form>


<a id ='movies' href="/movies">Movies List</a><br>
<a id ='search' href='/search'>Search</a>
