body {
	background-color: smoke;
	/*padding-top: 220px;*/
}
.navimage {
	background-image: url("navback.jpg");
	height: 215px;
}

.navtext {
	color: white;
	font-size: 32px;
}

.damage {
	background-image: url("damage.jpg");
	height: 400px;
	width: 400px;
	border: 1px solid black;
}

.navbar-fixed-top{
	color: white;

}
blockquote {
  color: #777777;
  font-style: italic;
 	font-size: 15px;
}