.topbar{
  background-image: url("navback.jpg");
  background-size: cover;
}

.navbar-top {
  float: left;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}

.right-btn {
  margin-left: 30px;
  padding: 10px;
}

.top{
  color: white;
  padding-right:50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

#contact {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

#sample {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

#about {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

#home {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

.top {
  margin-left: 100px;
  color: white;
  text-align: justify;
}

.meta {
  color: white;
  text-align: justify;
}

.navbar {
  float: right;
 /* opacity: 1;*/
  
}

.damage {
	background-image: url("damage.jpg");
	margin: auto;
	width: 400px;
	height: 400px;
}

#section2 {
  font-weight: bold;
}

.button .navbar-header icon-bar {
  background: opacity 0.0;
}

.left {
  float: left;
}

.text {
  padding:25%;
  padding-top: 1%;
  text-align: justify;
  float: left;
}

.right {
  float: right;
}

#section3 {
  font-weight: bold;
}

.caption-text {
  font-size: 11px;
    padding: 10px;
    font-style: italic;
    margin: 1;
    display: block;
}

.foot{
  font-size: 13px;
  text-align: center;
}

.socialBar {
  position: absolute;
  padding: 20px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}
#twitter {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

#fb {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

#git {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

.footer {
  padding-top: 100px;
  font-size: 13px;
  text-align: center;
}